<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/css/estilos_nav.css" rel="stylesheet" type="text/css"/>
        <link href="/css/estilos_login.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <div class="container" id="contenedor_form">
            <!--<a href="/inicio">Ir a Inicio</a>-->
            <div class="container">
                <img id="logo" th:src="@{/images/logo.png}" class="float-end" >
            </div>
            <h1>LOGIN</h1>
            <div class="container-sm">
                <form form action="#" th:action="@{/login_usuario}" th:object="${registro}" method="post">
                    <div class="mb-3">
                        <label for="nom_usuario" class="form-label">Usuario</label>
                        <input class="form-control" type="text" id="nom_usuario" th:field="*{nom_usuario}" name="nom_usuario">
                    </div>

                    <div class="mb-3">
                        <label for="contrasenia" class="form-label">Contrasenia</label>
                        <input type="password" class="form-control" id="contrasenia" th:field="*{contrasenia}" name="contrasenia">
                    </div>

                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>

            <div class="container" id="container_mensages">
                <!--MENSAJES-->
                <div class="alert alert-success alert-dismissable fade show" th:if="${success != null}">
                    <label th:text="${success}" class="label_mensaje"></label>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <div class="alert alert-danger alert-dismissable" th:if="${error != null}">
                    <label th:text="${error}" class="label_mensaje"></label>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                
            </div>
        </div>



        <script th:src="@{/js/bootstrap.min.js}" type="text/javascript"></script>
    </body>
</html>
