<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Agregar Vegetacion</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/css/estilos-frm-esp.css" rel="stylesheet" type="text/css"/>
        <link href="/css/estilos_nav.css" rel="stylesheet" type="text/css"/>
        <link href="/css/estilos_form_habitat.css" rel="stylesheet" type="text/css"/>
        <link href="/css/estilos-inicio.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <nav id = "menu" class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/inicio" style="color: white;">Inicio</a>
                        </li>
                        <!--
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  style="color: white;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Itinerario
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/crear_itinerario" >Agregar Itinerario</a></li>
                                <li><a class="dropdown-item" href="/mantenimiento_itinerario" th:if="${registro.id_rol==1}">Mantenimiento Itinerario</a></li>
                                <li><a class="dropdown-item" href="/vista_itinerario" >Ver Itinerarios</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: white;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Habitats
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/crear_habitats" th:if="${registro.id_rol==1}">Agregar Habitát</a></li>
                                <li><a class="dropdown-item" href="/mantenimiento_habitats" th:if="${registro.id_rol==1}">Mantenimiento Habitát</a></li>
                                <li><a class="dropdown-item" href="/vista_habitats" >Ver Habitáts</a></li>
                                <li><a class="dropdown-item" href="/habitat_especie" >Agregar especie a habitat</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: white;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Especies
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/crear" th:if="${registro.id_rol==1}">Agregar especie</a></li>
                                <li><a class="dropdown-item" href="/mantenimiento_especie" th:if="${registro.id_rol==1}">Mantenimiento Especie</a></li>
                                <li><a class="dropdown-item" href="/vista_especie" >Ver especies</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  style="color: white;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Vegetación
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/crearVegetacion" th:if="${registro.id_rol==1}">Agregar Vegetación</a></li>
                                <li><a class="dropdown-item" href="/irVegetacion" th:if="${registro.id_rol==1}">Mantenimiento Vegetacion</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown" th:if="${registro.id_rol==1}">
                            <a class="nav-link dropdown-toggle"  style="color: white;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Usuarios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/irUsuario" th:if="${registro.id_rol==1}">Mantenimiento Usuario</a></li>
                                <li><a class="dropdown-item" href="/crear_usuario" th:if="${registro.id_rol==1}">Agregar Usuario</a></li>
                            </ul>
                        </li>


                        -->    

                        <li class="nav-item">
                            <a class="nav-link" href="/" style="color: white;">Cerrar sesi&oacute;n</a>
                        </li>
                    </ul>


                    <a class="navbar-brand" href="#"><img id="logo" th:src="@{/images/logo.png}" class="float-end" ></a>
                </div>
            </div>
        </nav>

        <div class="container mt-4 barra-titulo">
            <a href="/inicio">Inicio</a>
            / Vegetacion
        </div>

        <div class="contenedor_general">
            <div class="container mt-4">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page">Registrar Vegetacion</a>
                    </li>
                </ul>
                <div class="container" id="container_mensages">
                    <!--MENSAJES-->
                    <div class="alert alert-success alert-dismissable fade show" th:if="${success != null}">
                        <label th:text="${success}" class="label_mensaje"></label>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <div class="alert alert-danger alert-dismissable" th:if="${error != null}">
                        <label th:text="${error}" class="label_mensaje"></label>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="container contenedor mt-4">
                <form action="#" th:action="@{/guardarVegetacion}" th:object="${vegetacion}" method="post">
                    <div class="form-group mb-3">
                        <label for="nombre validationDefault01">Nombre</label>
                        <input class="form-control" type="text" id="nombre validationDefault01" th:field="*{nombre}" name="nombre"  required>
                    </div>
                    <input type="hidden" th:field="*{id}" name="id" id="id">
                    <div class="form-group mb-3">
                        <label for="descripcion validationDefault03">Descripcion</label>
                        <textarea class="form-control" id="descripcion validationDefault03" th:field="*{descripcion}" name="descripcion" rows="10" cols="30" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                     <a th:if="${registro.id_rol==1}" href="/irVegetacion" class="btn btn-warning">Ir a mantenimiento</a>
                </form>
            </div>
            <div class="contenedor_general">
                
            </div>
        </div>
        <br>
        <br>
        
        <footer>
            
                <p>Derechos Reservados</p>
            
        </footer>

        <script src="/js/bootstrap.min.js" type="text/javascript"></script>

    </body>
</html>
