<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Inicio Zoo</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/css/estilos_nav.css" rel="stylesheet" type="text/css"/>

        <link href="/css/estilos-inicio.css" rel="stylesheet" type="text/css"/>



        <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>

        <nav id = "menu" class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">                        
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/inicio" style="color: white;">Inicio</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  style="color: white;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Itinerario
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/crear_itinerario" >Agregar Itinerario</a></li>
                                <li><a class="dropdown-item" href="/mantenimiento_itinerario" th:if="${registro.id_rol==1}">Mantenimiento Itinerario</a></li>
                                <li><a class="dropdown-item" href="/vista_itinerario" >Ver Itinerarios</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: white;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Habitats
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/crear_habitats" th:if="${registro.id_rol==1}">Agregar Habitát</a></li>
                                <li><a class="dropdown-item" href="/mantenimiento_habitats" th:if="${registro.id_rol==1}">Mantenimiento Habitát</a></li>
                                <li><a class="dropdown-item" href="/vista_habitats" >Ver Habitáts</a></li>
                                <li><a class="dropdown-item" href="/habitat_especie" >Agregar especie a habitat</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" style="color: white;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Especies
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/crear" th:if="${registro.id_rol==1}">Agregar especie</a></li>
                                <li><a class="dropdown-item" href="/mantenimiento_especie" th:if="${registro.id_rol==1}">Mantenimiento Especie</a></li>
                                <li><a class="dropdown-item" href="/vista_especie" >Ver especies</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"  style="color: white;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Vegetación
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/crearVegetacion" th:if="${registro.id_rol==1}">Agregar Vegetación</a></li>
                                <li><a class="dropdown-item" href="/irVegetacion" th:if="${registro.id_rol==1}">Mantenimiento Vegetacion</a></li>
                            </ul>
                        </li>

                        <li class="nav-item dropdown" th:if="${registro.id_rol==1}">
                            <a class="nav-link dropdown-toggle"  style="color: white;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Usuarios
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/irUsuario" th:if="${registro.id_rol==1}">Mantenimiento Usuario</a></li>
                                <li><a class="dropdown-item" href="/crear_usuario" th:if="${registro.id_rol==1}">Agregar Usuario</a></li>
                            </ul>
                        </li>                        
                        <li class="nav-item">
                            <a class="nav-link" href="/" style="color: white;">Cerrar sesi&oacute;n</a>
                        </li>
                    </ul>
                    <a class="navbar-brand" href="#"><img id="logo" th:src="@{/images/logo.png}" class="float-end" ></a>
                </div>
            </div>
        </nav>        
        <br>

        <!--INICIA CODIGO DE CARDS DE INICIO -->
        <div class="row" >
            <div class="col-sm-3">
                <div class="card">
                    <img src="/images/card-image-itinerarios.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Itinerarios</h5>
                        <p class="card-text">Escoge tu aventura. Un recorrido inolvidable cercano a la madre naturaleza.</p>
                        <a href="/vista_itinerario" class="btn btn-primary">Ver</a>
                        <a href="/crear_itinerario" th:if="${registro.id_rol==1}" class="btn btn-primary">Agregar</a>
                        <a href="/mantenimiento_itinerario" th:if="${registro.id_rol==1}" class="btn btn-primary">Mantenimiento</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="/images/card-image-habitats.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Habitats</h5>
                        <p class="card-text">Panoramas increibles y diversos. Observa donde viven cada una de las especies.</p>
                        <a href="/vista_habitats" class="btn btn-primary">Ver</a>
                        <a href="/crear_habitats" th:if="${registro.id_rol==1}" class="btn btn-primary">Agregar</a>
                        <a href="/mantenimiento_habitats" th:if="${registro.id_rol==1}" class="btn btn-primary">Mantenimiento</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="/images/card-image-especies.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Especies</h5>
                        <p class="card-text">Una gran cantidad de especies para tu observacion e investigacion. </p>
                        <a href="/vista_especie" class="btn btn-primary">Ver</a>
                        <a href="/crear" th:if="${registro.id_rol==1}" class="btn btn-primary">Agregar</a>
                        <a href="/mantenimiento_especie" th:if="${registro.id_rol==1}" class="btn btn-primary">Mantenimiento</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="card">
                    <img src="/images/card-image-vegetacion.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Vegetación</h5>
                        <p class="card-text">Observa la diversidad de plantas, arboles y flores a disposicion de tus ojos.</p>
                        <a href="/crearVegetacion" th:if="${registro.id_rol==1}" class="btn btn-primary">Agregar</a>
                        <a href="/irVegetacion" th:if="${registro.id_rol==1}" class="btn btn-primary">Mantenimiento</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>

        <footer>

            <p>Derechos Reservados</p>

        </footer>

        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>