<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <h1>Inicio</h1>
        </div>
        
        <div class="container">
            <a href="/mantenimiento_especie">Ir a formulario especies</a>
        </div>
        <div class="container">
            <a href="/irUsuario">Ir a formulario Usuario</a>
        </div>
        <div class="container">
            <a href="/">Salir</a>
        </div>
        
        
        
       <!-- <h1 th:if="${registro.id_rol==1}">Usuario es admin</h1>
        
        <h1 th:if="${registro.id_rol==2}">Usuario es empleado</h1>-->
        
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>