<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/css/estilos-frm-esp.css" rel="stylesheet" type="text/css"/>
        <link href="/css/estilos_nav.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container mt-4">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page">Mantenimiento Habitats</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/crear_habitats">Registrar Habitats</a>
                </li>
            </ul>
        </div>
        <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    </body>
</html>
